streamlit
pandas
numpy<2
scikit-learn
hopsworks==4.2.*
joblib
requests
openmeteo-requests
requests-cache
retry_requests
matplotlib
seaborn
shap<0.45
python-dotenv
xgboost
tensorflow
plotly>=5.10.0
fastapi
uvicorn
pydantic
lightgbm
keras
hopsworks[python]
