numpy<2

pandas
scikit-learn
matplotlib
seaborn
shap<0.45

xgboost
lightgbm
tensorflow

fastapi
uvicorn
pydantic
streamlit

joblib
requests
openmeteo-requests
requests-cache
retry_requests
python-dotenv
plotly>=5.10.0

hopsworks[python]